
<div ng-controller="BlendFilesController">
                <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-archive"></i> Current MRR File</h3>
                        </div>
                        <div class="panel-body">
                            {% verbatim %}
                                {{ selected_mrr.filename }}
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-upload"></i> Export Blend File</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="/studio/blender-files/" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="inputBlend">Blend file input</label>
                                    <input name="file" type="file" id="inputBlend">
                                    <p class="help-block">Select a .blend file to export</p>
                                </div>
                              <button class="btn btn-info" type="submit">Upload</button>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-mobile-phone"></i> Available MRR Files</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Filename</th>
                                        <th>Upload Date</th>
                                        <th>Selected</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="mrr in mrrs">
                                    {% verbatim %}
                                        <tr ng-class="{{ $index % 2 == 0 }} ? 'odd' : 'even'">
                                            <td>{{ mrr.id }}</td>
                                            <td>{{ mrr.filename }}</td>
                                            <td>{{ mrr.upload_date }}</td>
                                            <td><i ng-class="mrr.is_selected ? 'fa fa-check' : 'fa fa-close'"></i></td>
                                            <td>
                                                <button class="btn btn-xs btn-info" ng-click="onSelect(mrr);">Select</button>
                                                <button class="btn btn-xs btn-danger" ng-click="onDelete(mrr);">Delete</button>
                                            </td>
                                        </tr>
                                    {% endverbatim %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</div>
