
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-qrcode"></i> QR Code Registration</h3>
                        </div>
                        <div class="panel-body">
                            <img class="img-responsive" src="/api/v1/devices/qrcode">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-rss"></i> Device Data</h3>
                        </div>
                        <div class="panel-body">
                            Waiting for device...
                        </div>
                    </div>
                </div>
            </div>
