{% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MrRobotto Studio</title>

    <script src="{% static "angularjs/angular.min.js" %}"></script>
    <script src="{% static "angularjs/angular-resource.min.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/local.css" %}" />

    <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="{% static "shieldui/css/shieldui-all.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "shieldui/css/light-bootstrap/all.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "shieldui/css/dark-bootstrap/all.min.css" %}" />

    <script type="text/javascript" src="{% static "shieldui/js/shieldui-all.min.js" %}"></script>

    <script src="{% static "old/js/studio/ngStudioApp.js" %}" ></script>
    <script src="{% static "old/js/studio/ngStudioControllers.js" %}" ></script>
    <script src="{% static "old/js/studio/ngStudioServices.js" %}" ></script>