{% extends "base-studio.html" %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               Select a Blender file
            </h1>
        </div>
    </div>
    <!-- /.row -->

    {% if blendfile %}
        <div class="row">
            <div class="col-md-12 alert alert-success">
                <form class="form-inline" method="post">
                    <button type="submit" name="export" class="btn btn-default">Export</button>
                    Current blender file: <b>{{ blendfile.file_path }}</b>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">{{ blendfile_explorer.dir_path }}</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <form class="form-inline" method="POST">
                        <div class="row">
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-primary">Explore</button>
                            </div>
                            <div class="col-md-8 col-md-offset-1">
                                <strong>..</strong>
                                <input class="form-control hidden" name="dirname" type="text" value=".." placeholder=".." readonly>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </li>
                {% for folder in blendfile_explorer.folders %}
                    <li class="list-group-item">
                        <form class="form-inline" method="POST">
                            <div class="row">
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-primary">Explore</button>
                                </div>
                                <div class="col-md-8 col-md-offset-1">
                                    <strong>{{ folder }}</strong>
                                    <input class="form-control hidden" name="dirname" type="text" value="{{ folder }}" placeholder="{{ folder }}" readonly>
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </li>
                {% endfor %}
            </ul>

            <ul class="list-group">
                {% for file in blendfile_explorer.files %}
                    <li class="list-group-item">
                        <form class="form-inline" method="POST">
                            <div class="row">
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                                <div class="col-md-8 col-md-offset-1">
                                    {{ file }}
                                    <input class="form-control hidden" name="blend" type="text" value="{{ file }}" placeholder="{{ file }}" readonly>
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block script-block %}
    <script type="text/javascript">
        var pageScript = function(value) {}
    </script>
{% endblock %}