{% extends "base-studio.html" %}

{% block content %}

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Your IP is <small>{{ ip }}</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->


                <div class="row">
                    <div class="col-lg-12">
                        <div id="disconnected-panel" class="alert alert-danger">
                                There is no online devices right now
                        </div>
                        <div id="connected-panel" class="alert alert-success">
                                Device connected
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        {% if blender %}
                            <div class="alert alert-success alert-dismissable">
                                Blender is located on: <b>{{ blender }}</b>
                                <a class="btn btn-default pull-right" href="/blender-config">
                                    Change location
                                </a>
                            </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissable">
                                Blender is not configured
                                <a class="btn btn-default pull-right" href="/blender-config">
                                    Set location
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        {% if blender_file %}
                            <div class="alert alert-success alert-dismissable">
                                Blender file selected: <b>{{ blender_file }}</b>
                                <a class="btn btn-default pull-right" href="/blender-file">
                                    Change location
                                </a>
                            </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissable">
                                There is no blender file selected
                                <a class="btn btn-default pull-right" href="/blender-file">
                                    Select file
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
    {% endblock %}

    {% block script-block %}
        <script type="text/javascript">
            var pageScript = function(value) {
                if (value == false) {
                    $("#disconnected-panel").show();
                    $("#connected-panel").hide();
                } else {
                    $("#disconnected-panel").hide();
                    $("#connected-panel").show();
                }
            };
            {% if connected %}
                pageScript(true);
            {% else %}
                pageScript(false);
            {% endif %}
        </script>
    {% endblock %}
