{% extends "base-studio.html" %}

{% block content %}

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Your IP is <small>{{ ip }}</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->


                <div class="row">
                    <div class="col-lg-12">
                        {% if not con.connected %}
                        <div class="alert alert-danger">
                                There is no online devices right now
                        </div>
                        {% else %}
                        <div class="alert alert-success">
                                Device connected with UA: <b>{{ con.ua }}</b>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        {% if blender %}
                            <div class="alert alert-success alert-dismissable">
                                Blender is located on: <b>{{ blender }}</b>
                                <span class="file-input btn btn-default btn-file pull-right">
                                    Change location <input id="blender-change" type="file" multiple="">
                                </span>
                            </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissable">
                                Blender is not configured
                                <span class="btn btn-default btn-file pull-right">
                                    Set location <input type="file">
                                </span>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        {% if blender_file %}
                            <div class="alert alert-success alert-dismissable">
                                Blender file selected: <b>{{ blender_file }}</b>
                                <span class="file-input btn btn-default btn-file pull-right">
                                    Change location <input id="blender-change" type="file" multiple="">
                                </span>
                            </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissable">
                                There is no blender file selected
                                <span class="btn btn-default btn-file pull-right">
                                    Select file <input type="file">
                                </span>
                            </div>
                        {% endif %}
                    </div>
                </div>
    {% endblock %}

