{% extends "base-studio.html" %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               JSON viewer
            </h1>
        </div>
    </div>
    <!-- /.row -->
    {% if current_blend %}
        <div class="row">
            <div class="col-md-12 alert alert-success">
                <form class="form-inline" method="post">
                    <button type="submit" name="export" class="btn btn-default">Export</button>
                    Current blender file: <b>{{ current_blend }}</b>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    {% endif %}

    {% if con.connected %}
        <div class="row">
            <div class="col-md-12 alert alert-success">
                <form class="form-inline" method="post">
                    <button type="submit" name="upload" class="btn btn-default">Upload</button>
                    Current JSON file: <b>{{ current_json }}</b>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    {% endif %}

    {% if current_mrr %}
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <form id="saveform" method="post">
                        <button type="submit" name="save" class="btn btn-success">Save changes</button>
                        {% csrf_token %}
                    </form>
                </div>
                <div class="row" id="jsoneditor"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% load staticfiles %}
{% block script-block %}
    <link href="{% static "jsoneditor/dist/jsoneditor.min.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "jsoneditor/dist/jsoneditor.min.js" %}"></script>

    <style>
    .jsoneditor .readonly {
        min-width: 16px;
        color: rgb(235, 235, 223);
    }

    .jsoneditor .field, .jsoneditor .value, .jsoneditor td, .jsoneditor textarea, .jsoneditor th {
        font-family: droid sans mono,monospace,courier new,courier,sans-serif;
        font-size: 10pt;
        color: #DF691A;
    }

    .jsoneditor .menu {
      width: 100%;
      height: 35px;
      padding: 2px;
      margin: 0;
      overflow: hidden;
      box-sizing: border-box;
      color: #1A1A1A;
      background-color: #DF691A;
      border-bottom: 1px solid #DF691A;
    }

    .jsoneditor {
      color: #1A1A1A;
      border: 1px solid #DF691A;
      width: 100%;
      overflow: auto;
      position: relative;
      padding: 0;
      line-height: 100%;
    }
    </style>

    <script>
        // create the editor
        var container = document.getElementById("jsoneditor");
        var editor = new JSONEditor(container, {'mode':'form','search':false});

        {% autoescape off %}
        var json = {{ json }};
        {% endautoescape %}
        editor.set(json);

        $("#saveform").submit( function(eventObj) {
            $('<input />').attr('type', 'hidden')
                .attr('name', 'json')
                .attr('value',editor.getText())
                .appendTo('#saveform');
            return true;
        });

        // get json
    </script>

{% endblock %}

